*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
}

 .navbar-one{
    background-color: #f3f4e9;
    color: rgb(98, 98, 203);
    height: 50px;
    cursor: pointer;
} 

.left > div + div,
.right > div{ 
    margin-left:5px;
    margin-right:10px;
} 

.gallery:hover{
      border: 5px;
      border-color: rgb(54, 249, 28);
      transform:rotate(5deg) scale(1.1);
      color: rgb(176, 244, 224);
  }

  .heading{
    position: relative;
    padding: 0;
    color: rgb(243, 6, 42);
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family:Roboto;
    text-transform: none;
    margin-bottom: 30px;
  }


  .itemhover{
    background:#eb637c ;
    box-shadow: 0 8px 20px 0 rgba(99, 243, 4, 0.2);
    -webkit-transition:all 0.5s ease 0s ;
    transition: all 0.5s ease 0s;
 }

 .doctorcard{
    border-radius: 0;
    box-shadow: 5px 5px 15px #f90532;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;


 }

 .doctorcard:hover{
    background: #f34835;
    color: rgb(243, 246, 248);
    border: 5px;
    border: none;
    box-shadow: 5px 5px 10px #7485e7;
    color: #f15e4e;
    
 }

 .form{

    color: aliceblue;
    display:flex;
    height: 70vh;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #05073a,#dc0606);
    padding: 10px;
    max-width: 700px;
    width: 100%;
    padding: 45px 50px;
    border-radius: 25px;
    background:linear-gradient(135deg, #dc0606ca,#05073a) ;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: right;
    padding: 0 0 20px 0;
 }

 .btn1{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 110%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:linear-gradient(135deg, #dc0606ca,#05073a) ;

 }

 .btn2{
    padding: 10px 0;
    margin-top: 10px;
    height: 30%;
    width: 30%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:linear-gradient(135deg, #dc0606ca,#05073a) ;
 }


 

 .navbar1{
  position:relative;
   bottom: 0;
   width: 100%;
   background:linear-gradient(to right, #677ae8,#fb794e);
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
 }

 .style2{
    height: 35px;
    width: 35px;
    background-color: #f5f6fa;
    border-radius:30px;
    text-align:center;
    margin: 10px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    font-size: 25px;
    transition: all 0.3s linear;
    color: #072aef;

 }

  .style2:hover{
transform: scale(1.4);
color: #0e0104;
  }
 
   /* .style2:before{
     content: "";
     width: 120%;
     height: 120%;
     position: absolute;
     top: 90%; left: -50%;
     background-color: #00a8ff;
     transform: rotate(60deg);
   } */
    
.fa-twitter{
   color: #0097e6;
}

.fa-linkedin{
   color: #0097e6;
}
.fa-facebook-f{
   color:#084eff; ;
}
.fa-square-instagram {
   color:#e84393 ;
}
.fa-skype{
   color:#0097e6; 

}


.style2:hover:before{
   animation: socialicon 0.8s 1;
   animation-fill-mode: forwards;
 }
   /* @keyframes socialicon{
      0% { top: 90%; left:-50%;}
      50% { top:-60%; left:-10% ;}
      100% {top:-10%; left:-10%; }
      
   } */
 
  .text1{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .body{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   min-height: 50vh;
   background: #333;
  }
  .footer{
   position:relative;
   bottom: 0;
   width: 100%;
   background:linear-gradient(to right, #2629e9,#750303);
   color: #fff;
   padding: 70px 0 30px;
   border-top-left-radius:  105px;
   font-size: 15px;
   line-height: 20px;
   text-align: left;
   font-family:'Times New Roman', Times, serif;
}

.row1{
   width: 85%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}

.col1{
   flex-basis: 25%;
   padding: 10px;
}


.style{
   font-family: 'Times New Roman', Times, serif;
}

.item{
   background: #fff;
   text-align:center ;
   padding: 30px 25px;
   box-shadow: 0 0 25px rgba(0,0,0,0.07);
   border-radius: 20px;
   margin-bottom: 30px;
   border: 5px solid rgba(0,0,0,0.07);
   -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
   font-family: Roboto;
   font-size: 45px;
}

.item:hover{
   background: #046bf2;
   box-shadow:0 8px 20px 0 rgba(0,0,0,0.2) ;
   -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon{
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}

.item:hover h4,
.item:hover p{
   color: #fff;
   -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}

.item.icon{
   font-size: 40px;
   margin-bottom: 25px;
   color: #0733a3;
   width: 90px;
   height: 90px;
   line-height: 96px;
   border-radius: 50px;
}

.item .feature_box_col_one{
   background: rgba(247,198,5,0.2);
   color: #f30538;
}

.item .feature_box_col_two{
   background: rgba(122, 5, 247, 0.2);
   color: #f30538;
}

.item .feature_box_col_three{
   background: rgba(0,147,38,0.15);
   color: #f30538;
}

.item .feature_box_col_four{
   background: rgba(247, 5, 239, 0.2);
   color: #f30538;
}

.item .feature_box_col_five{
   background: rgba(4, 8, 244, 0.2);
   color: #f30538;
}

.item .feature_box_col_six{
   background: rgba(5, 247, 5, 0.2);
   color: #f30538;
}

.item p{
   font-size: 15px;
   line-height: 26px;
}

.item h6{
   margin-bottom:20px ;
   color:#2f2f2f ;
}

.btn5{
 cursor:pointer ;
 font-size: 20px;
 position: relative;
 background-color: #4b4be4;
 border: none;
 padding: 10px;
 width:200px ;
 color: #fff;
 border-radius: 50px;
 text-align: center;
 transition: 0.4s all;
 text-decoration: none;
 overflow: hidden;
}

.btn5:hover{
   background-color: rgb(224, 6, 6);
   box-shadow: 0px 2px 10px 5px #79aeca ;
   color: #000;
}

.btn5:focus{
   outline: none;
}




.btn6{
   margin-top: 10px;
}


.btn6{
  background-color: #ef590e;
  color: #fff;
  border-radius: 10px;
  padding: 1.1rem 2rem;
  font-size: 1rem;
  margin-right: 10;
}
.btn6:hover{
   background-color: rgb(11, 236, 252);
   box-shadow: 0px 2px 80px 3px #79aeca ;
   color: rgb(16, 16, 16);
}
.bg-image{
   background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)) , url(./bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 80vh;
   color: white;
   display: flex;
   justify-content:center;
   align-items:center;
   font-size: 25px;
   font-weight: 100px;
   font-family: Roboto;

}
.icon1 ul i {
   display: flex;
}



.icon1 ul i{
  width: 50px;
  height: 50px;
  /* background-color: #2e86de; */
  border:2px solid #2e86de ; 
  margin:0;
  list-style: none;
  border-radius: 50%;
  display: flex;
  justify-content:center ;
  align-items: center;
  position: relative;
} 

.icon1 ul i  {
color:#2e86de ;
}

 .iconul ul i::before{
   content:"" ;
   position: absolute;
   width: inherit;
   height: inherit;
   background-color:#2e86de ;
   border-radius:50% ;
   transition: all 0.3s linear;
   z-index: -1;
   opacity: 0;
 }

 .icon1 ul i:hover::before{
    transform: scale(0.8);
    opacity: 1;
 }

.icon1 ul:hover .i{
   color: white;
 }